.tab-button {
  border: none;
  background-color: transparent;
  margin: 14px;
  cursor: pointer;
  outline: none;
}
.tab-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
}
.active-tab {
  color: #fec653;
  border-bottom: 4px solid #fec653;

  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 9px;
}
